<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head'); %>
  <body>
    <div class="container">
      <h1>Testing Leaflet Map</h1>
      <div class="layout">
        <div id="map"></div>
      </div>
    </div>
     <!-- footer -->
 <div class="container">
    <div class="row bg-dark p-5 text-white">
        <div class="text-center">
            <i class="bi-telephone-inbound">
              0888939292929
            </i>
        </div>
        <div class="text-center">
            <i class="bi-envelope">
                admin@admin.com
            </i>
        </div>
    </div>
    </div>
    <script>
      let coordinate = [-7.263013225873337, 112.75422315732179]
      let zoomLevel = 12

      const map = L.map("map").setView(coordinate, zoomLevel);
      let marker = null;

      const stations = <%- JSON.stringify(data) %>
      console.log(stations);
      
      if(stations.length > 0) {
        stations.forEach(item => {
          let i = document.getElementById(String(item.id))
          i.onclick = () => {
            map.setView([item.coordinateX, item.coordinateY], 13.5);
          }
          marker = new L.marker([item.coordinateX, item.coordinateY]).bindPopup(item.name).addTo(map);
        });
      }

      const tiles = L.tileLayer(
        "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
        {
          maxZoom: 15,
          attribution:
            'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: "mapbox/streets-v11",
          tileSize: 512,
          zoomOffset: -1,
        }
      ).addTo(map);


    </script>
  </body>
</html>
